<ul class="list-unstyled">
  <% if microposts.any? %>
     <% microposts.each do |micropost| %>
      <li class="media mb-3">
        <img class="mr-2 rounded" src="<%= gravatar_url(micropost.user, { size: 50 }) %>" alt="">
        <div class="media-body">
          <div>
            <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">posted at <%= micropost.created_at %></span>
          </div>
          <div>
            <p class="mb-0"><%= micropost.content %></p>
          </div>
          
          <div>
            <% if current_user == micropost.user %>
               <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm  '%>
            <% end %>
    
            <% if current_user.favorites.find_by(micropost_id: micropost.id) %>
              <%= form_with(model: current_user.favorites.find_by(micropost_id: micropost.id), local: true, method: :delete ) do |f| %>
              <%= hidden_field_tag :micropost_id , micropost.id %>
              <%= f.submit 'Unfavolite!', class: 'btn btn-success btn-sm '%>
              <% end %>
            <% else %>
              <%= form_with(model: Favorite, local: true ) do |f| %>
              <%= hidden_field_tag :micropost_id , micropost.id %>
              <%= f.submit 'Favolite!', class: 'btn btn-light btn-sm' %>
              <% end %>
            <% end %>
          
          </div>
        </div>
      </li>
    <% end %>
    <%= paginate microposts %>
  <% end %>
</ul>